# Note: behavior of '.gitignore' file
# Git’s .gitignore patterns are recursive by default
# config.json → ignore that filename everywhere
# __pycache__/ → ignore that directory everywhere
# /config.json → ignore Only root-level config.json
.vscode/
__pycache__/
/github_repo/